<div fxLayout fxLayoutAlign="center center">
    <mat-card  fxFlex="100%">
        <mat-card-title [@slideDown]>Businesses Result</mat-card-title>
        <mat-card-content fxLayout="column">
            <ul  *ngIf="businessState.businesses">
                <mat-grid-list [cols]="breakpoint" rowHeight="2:1" (window:resize)="onResize($event)">
                    <mat-grid-tile [@slideIn] *ngFor="let business of businessState.businesses.businesses  | paginate: { id: 'server', itemsPerPage: 10, currentPage: page, totalItems: total }">
                        <button mat-button (click)="openBusiness(business)">
                            {{ business.name }}
                            <img mat-card-lg-image [src]="business.main_image">
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>
                <pagination-controls id="server" (pageChange)="pageChanged($event)"></pagination-controls>
            </ul>
        </mat-card-content>
    </mat-card>
</div>