<div fxLayout="row" fxLayoutAlign="center center" class="row-height image">
    <mat-card [@slideDown] fxFlex="50%" fxFlex.xs="80%">
        <form [formGroup]="searchForm">
            <mat-card-title>Search Businesses</mat-card-title>
            <mat-card-content fxLayout="column">
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Search by business name</mat-label>
                        <input matInput type="name" formControlName="search" #search>
                    </mat-form-field>
                    <div *ngIf="searchForm.controls['search'].invalid && (searchForm.controls['search'].dirty || searchForm.controls['search'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="searchForm.controls['search'].errors.required">
                            Please enter anything to search for!
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button (click)="searchBusiness(search.value)" class="btn btn-primary" [disabled]="searchForm.pristine || searchForm.invalid">Search
                        by name</button>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-select placeholder="Select Category " (selectionChange)="selectCategory($event)">
                            <mat-option *ngFor="let cat of businessState.categories;" [value]="cat.id">{{cat.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <button (click)="searchBusinessByCat()" class="btn btn-primary">Search by Category</button>
                </div>
            </mat-card-content>
        </form>
    </mat-card>
</div>