.profile {
	margin-left: 12px;
}

.image {
	height: 38em;
	background-size: cover;
	width: 100%;
	background-image: url('../../../assets/background_item.jpg');
	background-position: 50% 50%;
}

.mat-card {
	opacity: 0.9
}

.mat-form-field {
	width: 100%;
}