<!--The content below is only a placeholder and can be replaced.-->

<div id="container">
  <app-header></app-header>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
  <!-- 
  <footer class="footer" >
    <div color="primary" fxLayoutAlign="center center" >
      <div fxFlex="20%">  
            © Blabber 2018 . All rights reserved.
      </div>
    </div>
  </footer> -->
</div>