a {
	margin-left: 11px;
}

/* .form-group > * {
	width: 100%;
  } */

.mat-form-field {
	width: 100%;
}

.row-height {
	height: 100%
}

.mat-card {
	opacity: 0.9
}

.image {
	height: 38em;
	background-size: cover;
	width: 100%;
	background-image: url('../../../assets/background_item.jpg');
	background-position: 50% 50%;
}