img {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 12px;
  margin-right: 8px;
  margin-top: 6px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.mat-form-field {
  width: 100%;
}