<div fxLayout="row" fxLayoutAlign="center center" class="row-height">
  <mat-card [@slideIn] fxFlex="50%" fxFlex.xs="80%">
    <form [formGroup]="registerForm">
      <mat-card-title>Profile</mat-card-title>
      <mat-card-content fxLayout="column">
        <div class="image-header">
          <img [src]="selectedPath">
          <input type="file" accept="image/*" #image (change)="onFileChanged(image)">
        </div>
        <div style="margin-top: 15px;" class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="name" formControlName="name" #name>
          </mat-form-field>
          <div *ngIf="registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)"
            class="alert alert-danger">
            <div *ngIf="registerForm.controls['name'].errors.required">
              Name is required.
            </div>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" #email />
          </mat-form-field>
          <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)"
            class="alert alert-danger">
            <div *ngIf="registerForm.controls['email'].errors.required">
              Email is required.
            </div>
            <div *ngIf="registerForm.controls['email'].errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Mobile number</mat-label>
            <input matInput type="name" formControlName="mobilenumber" #mobilenumber />
          </mat-form-field>
          <div *ngIf="registerForm.controls['mobilenumber'].invalid && (registerForm.controls['mobilenumber'].dirty || registerForm.controls['mobilenumber'].touched)"
            class="alert alert-danger">
            <div *ngIf="registerForm.controls['mobilenumber'].errors.required">
              Mobile is required.
            </div>
            <div *ngIf="registerForm.controls['mobilenumber'].errors.pattern">Mobile number must contains only numbers.</div>
            <div *ngIf="registerForm.controls['mobilenumber'].errors.minlength">Mobile number must be a valid number.</div>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Birthdate</mat-label>
            <input matInput [owlDateTimeTrigger]="dt3" #birthdate formControlName="birthdate" [owlDateTime]="dt3" />
          </mat-form-field>
          <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
        </div>
        <div>
          <mat-form-field>
            <mat-select placeholder="Select Gender" formControlName="gender" (selectionChange)="selectGender($event.value)">
              <mat-option *ngFor="let gender of genderList;" [value]="gender.id">
                {{gender.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-select ngDefaultControl placeholder="Select Interests " formControlName="interests" (selectionChange)="selectInterests($event)"
              [formControl]="interests" multiple>
              <mat-option *ngFor="let interest of businessState.categories;" [value]="interest.id">{{interest.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-select ngDefaultControl placeholder="Select Area " formControlName="area" (selectionChange)="selectArea($event)"
              [formControl]="areas">
              <mat-option *ngFor="let area of userState.areas;" [value]="area.id">{{area.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card-content>

      <div *ngIf="this.userState.user && this.userState.user.errors" class="alert alert-danger">{{this.userState.user.errors}}</div>
      <div *ngIf="userState.loading == false;else loadingSpinner">
        <div class="form-group">
          <button (click)="editProfile(name.value,email.value, mobilenumber.value, birthdate.value)" class="btn btn-primary">Edit
            Account</button>
        </div>
      </div>

      <ng-template #loadingSpinner>
        <mat-spinner strokeWidth=5 diameter=40> </mat-spinner>
      </ng-template>

    </form>
  </mat-card>
</div>