<div class="card">
    <div class="card-body">
        <ul *ngIf="business">
            <mat-card [@slideDown]>
                <mat-card-title>{{ business.branch.name }}</mat-card-title>
                <img [src]="business.main_image">
                <mat-tab-group  (selectedTabChange)="tabClicked($event)">
                    <mat-tab label="Details">
                        <mat-list >
                            <mat-list-item>Phone Number: {{business.phone}}</mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>Rating: {{business.rating}}</mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>Number of views: {{business.no_of_views}}</mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>Address: {{business.branch.address}}</mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>Number of Reviews: {{business.branch.no_of_reviews}}</mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>Number of views: {{business.no_of_views}}</mat-list-item>
                            <mat-divider></mat-divider>
                        </mat-list>

                        <mat-list>
                            <mat-list-item>Operation Hours:</mat-list-item>
                            <mat-list-item *ngFor="let day of business.branch.operation_hours">
                                {{day}}</mat-list-item>
                        </mat-list>
                        <mat-divider></mat-divider>
                    </mat-tab>
                    <mat-tab label="Location">
                        <mat-list>
                            <mat-list-item><button mat-button (click)="openLink(business.branch.lng, business.branch.lat)">Open
                                    in Google Maps</button></mat-list-item>
                            <mat-divider></mat-divider>
                        </mat-list>
                    </mat-tab>
                    <mat-tab label="Reviews">
                        <mat-list>
                            <mat-list-item style="margin-top: 80px;" *ngFor="let item of reviews">
                                <mat-card fxFlex="50%">
                                    <mat-card-subtitle>
                                        <img mat-card-avatar class="user-img" [src]="item.user.profile_photo" [alt]="item.user.name" />
                                        {{item.user.name}}
                                    </mat-card-subtitle>
                                    <mat-card-content>
                                        <p>{{item.text}}</p>
                                    </mat-card-content>
                                </mat-card>
                            </mat-list-item>
                        </mat-list>
                        <mat-card style="margin-bottom: 10px; margin-left: 12px;" fxFlex="50%">
                            <mat-card-content>
                                <input placeholder="Enter your comment" type="text" #comment class="form-control" />
                                <button class="btn btn-primary" (click)="addComment(comment.value)">Post</button>
                            </mat-card-content>
                        </mat-card>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </ul>
    </div>
</div>