<div  fxLayout= "row"  fxLayoutAlign="center center" class="row-height">
    <mat-card [@slideIn] fxFlex="50%" fxFlex.xs="80%">
      <form [formGroup]="registerForm">
     <mat-card-title>Signup</mat-card-title>
         <mat-card-content fxLayout="column">
              <div class="image-header">
                <img [src]="selectedPath">
                <input type="file" (change)="onFileChanged($event)">           
              </div>
              <div style= "margin-top: 15px;" class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput type="name" formControlName="name" #name>
                </mat-form-field>
                <div *ngIf="registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)" class="alert alert-danger">
                  <div *ngIf="registerForm.controls['name'].errors.required">
                    Name is required.
                  </div>
                </div>
              </div>
           
              <div class="form-group">
                <label class="col-md-4">Email</label>
                <input type="email" class="form-control" formControlName="email" #email/>
                <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)" class="alert alert-danger">
                  <div *ngIf="registerForm.controls['email'].errors.required">
                    Email is required.
                  </div>
                  <div *ngIf="registerForm.controls['email'].errors.email">Email must be a valid email address</div>
                </div>
              </div>
           
              <div class="form-group">
                <label class="col-md-4">Password</label>
                <input type="password" class="form-control" formControlName="password" #password/>
                <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)" class="alert alert-danger">
                  <div *ngIf="registerForm.controls['password'].errors.required">Password is required.</div>
                  <div *ngIf="registerForm.controls['password'].errors.minlength">Password must be at least 6 characters.</div>
                </div>
              </div>
           
              <div class="form-group">
                <label class="col-md-4">Mobile number</label>
                <input type="name" class="form-control" formControlName="mobilenumber" #mobilenumber/>
                <div *ngIf="registerForm.controls['mobilenumber'].invalid && (registerForm.controls['mobilenumber'].dirty || registerForm.controls['mobilenumber'].touched)" class="alert alert-danger">
                  <div *ngIf="registerForm.controls['mobilenumber'].errors.required">
                    Mobile is required.
                  </div>
                  <div *ngIf="registerForm.controls['mobilenumber'].errors.pattern">Mobile number  must contains only numbers.</div>
                  <div *ngIf="registerForm.controls['mobilenumber'].errors.minlength">Mobile number must be a valid number.</div>
                </div>
              </div>
           
           <div class="form-group">
            <label class="col-md-4">Birthdate</label>
             <input [owlDateTimeTrigger]="dt3"#birthdate [owlDateTime]="dt3" class="form-control"placeholder="Choose a date">
            <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
            </div>
           
           <div>
           <mat-form-field>
           <mat-select placeholder="Select Gender" (selectionChange)="selectGender($event.value)" >
             <mat-option *ngFor="let gender of genderList;" [value]="gender.id">
              {{gender.value}}
            </mat-option>
           </mat-select>
           </mat-form-field>
           </div>
           
           <div>
           <mat-form-field>
           <mat-select placeholder="Select Interests " (selectionChange)="selectInterests($event)" [formControl]="interests" multiple>
            <mat-option *ngFor="let interest of businessState.categories;" [value]="interest.id">{{interest.name}}</mat-option>
           </mat-select>
           </mat-form-field>
           </div>
           
           <div>
           <mat-form-field>
           <mat-select placeholder="Select Area "   formControlName="area" (selectionChange)="selectArea($event)" [formControl]="areas">
            <mat-option *ngFor="let area of userState.areas;" [value]="area.id">{{area.name}}</mat-option>
           </mat-select>
           </mat-form-field>
           </div>
        </mat-card-content>

         <!-- <button mat-raised-button color="accent">Login</button>
      -->


      <div *ngIf="this.userState.user && this.userState.user.errors" class="alert alert-danger">{{this.userState.user.errors}}</div>
      <div *ngIf="userState.loading == false;else loadingSpinner">
       <div class="form-group">
          <button (click)="signup(name.value,email.value, password.value, mobilenumber.value, birthdate.value)"
              class="btn btn-primary" [disabled]="registerForm.pristine || registerForm.invalid"
              >Create Account</button>
      </div>
  </div>  
 
    <ng-template #loadingSpinner>
          <mat-spinner strokeWidth= 5 diameter = 40 > </mat-spinner>
    </ng-template>
<!-- 
   [disabled]="registerForm.pristine || registerForm.invalid" -->

<!--      <form [formGroup]="aFormGroup">
<ngx-recaptcha2
 [size]="size"
 [hl]="lang"
 [theme]="theme"
 [type]="type"
 (expire)="handleExpire()"
 (load)="handleLoad()"
 (success)="handleSuccess($event)"
 formControlName="recaptcha">
</ngx-recaptcha2>
</form> -->
 
   </form>
     </mat-card>
</div>